.container {
    display: flex;
    gap: 0.725rem;

    width: 100%;
    padding: 1rem;
 
    border-top: 1px solid rgba(0,27,55,0.1);
}

.item {
    padding: 0.25rem 1rem;

    border-radius: 1rem;
    background-color: #E6F4FE;
}

.item:hover {
    background-color: #D5EFFF;
}

.link {
    text-decoration: none;
    color: #0B73CE;
    font-weight: 500;
}