.listWrap {
    width: 50%;

    margin: 0;
    padding: 0;    

    border-radius: 1.25rem;
    background-color: #BBCBFF;

    list-style: none;
    list-style-position: inside;
}

.listWrap:hover {
    background: #A7BCFF;
}

.listWrap:last-child {
    background-color: #FFC7DE;
}

.listWrap:last-child:hover {
    background: #FFB4D3;
}

.listItem {
    width: 100%;
    padding: 1rem 1.725rem;
}

.listItemLink {
    width: 100%;

    color: #2D3748;
    text-decoration: none;
    font-size: 1.125rem;
}

/* Popover */
.PopoverTrigger {
    border: 1px solid #3182F6;
    background-color: white;
    color: #3182F6;
    padding: 10px 20px;
	border-radius: 4px;
}

.PopoverTrigger:hover {
    border: 1px solid #1B64DA;
    background-color: #1B64DA;
    color: white; 
}

.PopoverContent {
	border-radius: 10px;
	padding: 20px;
	width: 260px;
	background-color: #3182F6;
    color: white;
}

.PopoverArrow {
	fill: #3182F6;
}
/* Popover */

/* Animation */
.PopoverContentAnimation {
    border-radius: 10px;
    padding: 20px;
    width: 260px;
    background-color: #3182F6;
    color: white;
}

/* 열릴 때 애니메이션 */
.PopoverContentAnimation[data-state="open"] {
    animation: fadeIn 1000ms ease;
}

/* 닫힐 때 애니메이션 */
.PopoverContentAnimation[data-state="closed"] {
    animation: fadeOut 1000ms ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}
/* Animation */